.detail {
  display: flex;
  flex-direction: column;
}

.button_row {
  padding: 10px;
}

.infoBox_row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.graph_row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
}

.graph_headline {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
