.detail {
  display: flex;
  flex-direction: column;
}

.button_row {
  padding: 10px;
}

.infoBox_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  flex-wrap: wrap;
}

.graph_row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
}

.graphBox {
  flex: 1;
}

.info {
  flex: 1;
}

@media (max-width: 990px) {
  .graph_row {
    flex-direction: column;
  }

  .graphBox {
    flex: 0 50%;
  }
}

.graph_headline {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
