.infoBox {
  flex: 1;
}

@media (max-width: 900px) {
  .infoBox {
    flex: 0 45%;
    margin: 5px;
  }
}

@media (min-width: 900px) {
  .infoBox:not(:last-child) {
    margin-right: 10px;
  }
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox--green {
  border-color: #00aa00;
}

.infoBox--gray {
  border-color: #767676;
}

.infoBox--yellow {
  border-color: #f4c363;
}

.infoBox_cases--green {
  color: #00aa00 !important;
}

.infoBox_cases--gray {
  color: #767676 !important;
}

.infoBox_cases--red {
  color: #cc1034 !important;
}

.infoBox_cases--yellow {
  color: #f4c363 !important;
}

.infoBox_cases {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox_total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
